.user-account {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    font-size: 13px;

    .item-title {
      font-weight: 600;
      margin-right: 10px;
    }

    span {
      color: #A3ABC4;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
.cabinet-footer {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}