@keyframes animateBg {
  0% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}

.banner {
  .block_table {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.4);

    animation: animateBg 30s linear infinite;
    background-image: linear-gradient(0deg,#ff006d,#943ad9,#ffb029,#ff006d,#943ad9);
    background-size: 100% 400%;

    position: relative;
  }

  .table {
    display: flex;
    flex-direction: column;
    border: #fff 1px solid;
    padding: 0;
    margin: 0;
    width: 100%;

    &.table_title {
      width: 50px;
      font-weight: 600;
      background: rgba(255, 255, 255, 0.4);
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  .col_title {
    text-align: center;
    background: #ff006b;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    padding: 5px 0;
    font-weight: 600;
  }

  .row {
    list-style: none;
    margin: 0;
    text-align: center;
  }

  .bannerScrollableContainer {
    display: flex;
    flex-direction: row;
    width: calc(100% - 50px);
    cursor: pointer;
    overflow-x: scroll;

    .table {
      min-width: 150px;
    }
  }

  .scrollBtn {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 40px;
    cursor: pointer;

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 26px;
      transform: translate(-50%, -50%);
    }

    &.scrollToLeft {
      left: 50px;
      background: linear-gradient(to left, transparent 0%, #88596d 100%);

      &:before {
        background: transparent url(../../img/arrow-left.png) center no-repeat;
        background-size: contain;
      }
    }

    &.scrollToRight {
      right: 0;
      background: linear-gradient(to right, transparent 0%, #88596d 100%);
      &:before {
        background: transparent url(../../img/arrow-right.png) center no-repeat;
        background-size: contain;
      }
    }
  }
}