.f-home-fields .ff-removable {
  width: 31.3%;
  margin: 10px 1%;
  float: left;
}
.f-home-fields .form-group label {
  color: #858DA6;
  display: block;
  margin-bottom: 7px;
}
.f-home-fields .form-group select, .f-home-fields .form-group input {
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #D6DBE9;
  -webkit-box-shadow: inset 0px 3px 0px rgb(0 0 0 / 3%);
  box-shadow: inset 0px 3px 0px rgb(0 0 0 / 3%);
  border-radius: 10px;
  padding: 15px;
  height: 60px;
  display: block;
}
.change__block-footer {
  width: 98%;
  margin: 15px 1%;
  .btn:first-child {
    margin-right: 10px;
  }
}
.gotoPaymAgree {
  margin-top: 20px;
}
.clear {
  clear: both;
}