.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -15px 70px;

  &:after {
    width: 500px;
    height: 450px;
    background: transparent url(../../../img/viking.png) 0 0 no-repeat;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    right: -56px;
    top: 76px;
  }
}

#home-exchange.step2 .s1 {
  display: none;
}
#home-exchange .s2 {
  width: 100%;
}

.main-exchange-wrapper {
  padding: 40px;
}

@media (max-width: 1199.98px) {
  .main-exchange-wrapper {
    padding: 30px 25px;
  }
}
@media (max-width: 991.98px) {
  .main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &:after {
      top: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    &:after {
      width: 235px;
      height: 392px;
      right: -80px;
      top: 100px;
    }
  }
}

@media (max-width: 575.98px) {
  .main {
    position: relative;
    overflow: hidden;
  }
  .main-exchange-wrapper {
    padding: 15px;
  }
}
